In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.0.1-cp39-cp39-macosx_10_9_universal2.whl (351 kB)
     |████████████████████████████████| 351 kB 528 kB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-4.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [4]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [5]:
record={
        'firstname':'Krish',
        'lastname':'Naik',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }
empinfo.insert_one(record)

In [6]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [7]:
empinfo.insert_many(records)

In [8]:
## simple querying in Mongo DB
empinfo.find_one()

{'_id': ObjectId('61ee28ef753ac365dd378ee4'),
 'firstname': 'Krish',
 'lastname': 'Naik',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [9]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('61ee28ef753ac365dd378ee4'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('61ee2916753ac365dd378ee5'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('61ee2916753ac365dd378ee6'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('61ee2916753ac365dd378ee7'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('61ee2916753ac365dd378ee8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
## Query the json documents based on equality condition


records=[{
        'firstname':'Tapas',
        'lastname':'Rout',
        'department':'Dataengineering',
        'qualification':'masters',
        'age':35
        
        },
         {
        'firstname':'Deval ',
        'lastname':'Mali',
        'department':'Data Science',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Lionel',
        'lastname':'Pais',
        'department':'Electrical',
        'qualification':'master',
        'age':32
        
        }]

In [11]:
empinfo.insert_many(records)

In [12]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('61ee28ef753ac365dd378ee4'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('61ee2916753ac365dd378ee5'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('61ee2916753ac365dd378ee6'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('61ee2916753ac365dd378ee7'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('61ee2916753ac365dd378ee8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('61ee2fbc753ac365dd378ee9'), 'firstname': 'Tapas', 'lastname': 'Rout', 'department': 'Dataengineering', 'qualification': 'masters', 'age': 35}
{'_id': ObjectId('61ee2fbc753ac365dd378eea'), 'firstname': 'Deval ', 'lastname': 'Mali', 'department': 'Data Science', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('61ee2fbc753ac365dd378eeb'), 'firstname': 'Lionel', 'lastname': 'Pais', 'department': 'Electrical', 'qualification': 'master', 'age': 32}

In [13]:
for record in empinfo.find({'firstname':'Tapas'}):
    print(record)

{'_id': ObjectId('61ee2fbc753ac365dd378ee9'), 'firstname': 'Tapas', 'lastname': 'Rout', 'department': 'Dataengineering', 'qualification': 'masters', 'age': 35}

In [14]:
## Query document using query operator($in,$lt,$gt)

for record in empinfo.find({'qualification':{'$in':['master','BE']}}):
    print(record)

{'_id': ObjectId('61ee28ef753ac365dd378ee4'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('61ee2916753ac365dd378ee8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('61ee2fbc753ac365dd378eeb'), 'firstname': 'Lionel', 'lastname': 'Pais', 'department': 'Electrical', 'qualification': 'master', 'age': 32}

In [15]:
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('61ee2916753ac365dd378ee8'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('61ee2fbc753ac365dd378eeb'), 'firstname': 'Lionel', 'lastname': 'Pais', 'department': 'Electrical', 'qualification': 'master', 'age': 32}

In [18]:
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('61ee28ef753ac365dd378ee4'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [19]:
inventory=mydb.inventory

In [20]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [25]:
for records in inventory.find({'size': { 'h': 8.5, 'w': 11,'uom': "in" }}):
    print(records)
    
#for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
   # print(records)

{'_id': ObjectId('61ef0a18753ac365dd378eed'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('61ef0a18753ac365dd378eee'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}